cmd/fibratus/fibratus.exe
cmd/fibratus/fibratus.syso

cmd/systray/fibratus-systray.exe
cmd/systray/fibratus-systray.syso

pkg/util/eventlog/mc/*
!pkg/util/eventlog/mc/gen.go

build/msi/fibratus-*
build/msi/*.wixpdb
build/msi/*.msi

.idea
filaments/__pycache__
