cmd/fibratus/fibratus.exe
cmd/fibratus/fibratus
cmd/fibratus/fibratus.syso
pkg/kstream/kprobe.o

build/msi/fibratus-*
build/msi/components.wxs
build/msi/*.wixobj
build/msi/*.wixpdb
build/msi/*.msi

.idea
filaments/__pycache__
