kstream:
  max-buffers: 10
  min-buffers: 8
  flush-interval: 1s
  blacklist:
    events:
      - CreateThread

filament: top_hives_io

output:
  console:
    enabled: false
    format: pretty
  elasticsearch:
  amqp:
    enabled: true
    url: amqp://localhost:5672
    timeout: 5s
    exchange: fibratus
    exchange-type: topic
    routing-key: fibratus

