- group: internal network traffic
  enabled: true
  tags:
    - TE
  rules:
    - name: only network category
      description: this rule matches all network signals
      condition: kevt.category = 'net'
      severity: low
      output: >
        `%ps.exe` attempted to reach out to `%net.sip` IP address
      action:
      - kill:
        pid: ps.pid

- group: rouge processes
  enabled: true
  rules:
    - name: suspicious network {{ upper "activity" }}
      condition: kevt.category = 'net' and ps.name in ('at.exe', 'java.exe')

